/* Extra Small Screen size/base styles ***********************************/
/* XS */
.overflowHidden{
    position:fixed;
}

*{
    /* reset all the margins and padding */
    margin:0;
    padding:0;

    /* quick functional transition for hovers, etc. */
    -ms-transition:all .3s ease;
    -moz-transition:all .3s ease;
    -webkit-transition:all .3s ease;
    -o-transition:all .3s ease;
    transition:all .3s ease;
}

.contact, .projectContainer{
    /* slower functional transition for larger moving elements */
    -ms-transition:all .5s ease;
    -moz-transition:all .5s ease;
    -webkit-transition:all .5s ease;
    -o-transition:all .5s ease;
    transition:all .5s ease;
}

html{
    font-weight:200; /*thin*/
    font-family: -apple-system, 'Helvetica Neue', Helvetica, Arial, sans-serif;

    /* min 16px for body, 14px for flows
    line-heights are rounded up to 5px intervals
    for easier math*/
    font-size:16px;
    font-size:5vw;
    color:#000;
}

.hideOverflow{
    height:100%;
    overflow:hidden;
}

h1{
    font-size:60px;
    font-size:6vw;
    font-weight:400;
    margin-top:20px;
    margin-bottom:0;
    align-self:flex-start;
    cursor:default;
}

h1.bold{
    font-size:100px;
    font-size:10vw;
    font-weight:500;
}

textarea.email{
    font-size:100px;
    font-size:10vw;
    font-weight:500;
    margin-top:20px;
    margin-bottom:0;
    align-self:flex-start;
    cursor:default;
    width:81vw;
    border: none;
    border-color: transparent;
}

h1::selection{
    color:#fff;
    background-color:#1F76DB;
}

.me h1::selection{
    color:#1F76DB;
    background-color:transparent;
}

.miniBag h1::selection{
    color:#235789;
    background-color:#fff;
}

.imageMatters h1::selection{
    color:#1F76DB;
    background-color:#fff;
}

h1 > span{
    font-size:30px;
    font-size:3vw;
    font-weight:400;

    line-height:10px;
    line-height:1vw;
}

h2{ /* need a smaller screen version to scale (probably)*/
    font-size:20px;
    font-size:6vw;
    font-weight:300;
    margin-top:20px;
    margin-bottom:0;
    align-self:flex-start;

    cursor:default;
}

h2.bold{
    font-weight:200;
}

h2::selection {
    color:#fff;
    background-color:#EA7E0D;
}

.me h2::selection{
    color:#EA7E0D;
    background-color:transparent;
}

.miniBag h2::selection{
    color:#235789;
    background-color:#efefef;
}

.imageMatters h2::selection{
    color:#1F76DB;
    background-color:#efefef;
}

.projectContainer h2{
    font-size:18px;
    font-size:2vw;
    font-weight:400;
}

h3{
    font-size:40px;
    font-size:8vw;
    font-weight:500;
    align-self:flex-start;
    cursor:default;
}

h3::selection{
    color:#fff;
    background-color:#1F76DB;
}

.miniBag h3::selection{
    color:#235789;
    background-color:#efefef;
}

.imageMatters h3::selection{
    color:#1F76DB;
    background-color:#efefef;
}

p{
    /* adds a readable width and some spacing below paragraphs */
    max-width:600px;
    margin-bottom:20px;
    cursor:default;
    line-height: 25px;
    line-height:7vw;
}

p::selection, div::selection, span::selection{
    color:#fff;
    background-color:#235789;
}

.miniBag p::selection, .miniBag div::selection, .miniBag span::selection{
    color:#235789;
    background-color:#fff;
}

.imageMatters p::selection, .imageMatters div::selection, .imageMatters span::selection{
    color:#1F76DB;
    background-color:#fff;
}

label{
    margin-top:15px;
}

input{
    font-size:16px;
    line-height:30px;

    width:200px;

    padding:5px;
}

a{
    /* removes the 1990's affordances */
    text-decoration: inherit;
    color:inherit;

    /* adds the 2010's affordances */
    padding:10px;
    width:90vw;

    /* used to make links expand from the center */
    line-height:30px;
    vertical-align: middle;
    text-align: center;

    font-size:20px;
    font-weight:300;

    border:2px solid #fff;
    align-self:center;
    left:auto;
    right:auto;
    margin:0;

    position:absolute;
    align-self:center;
    top:200px;

    letter-spacing: 2px;
}

a:hover{
    background-color:#fff;
}

/* End global (built in) tags****************/

.me h1, .me h2{
    margin-left:12%;
}

.contact h2{
    opacity:1;
}

.contact h2.hideCopy{
    opacity:0;
}

.pageTitle{
    flex-direction:column;
    justify-content: flex-start;
    align-items: center;
    margin-left:10px;
    margin-right:10px;
}

.me .pageTitle, .sendoff .pageTitle, .contact .pageTitle{
    height:calc(100% - 150px);
    padding-top:150px;
}

.miniBag .pageTitle, .imageMatters .pageTitle{
    width:60%;
    align-self:center;
}

.projectPreview .pageTitle{
    margin-top:30px;
}

section.savings, section.nationwide, section.miniBag, section.imageMatters{
    width:100%;
    flex-direction:row;
    justify-content: center;
    align-items: flex-start;
    padding-bottom:100px;
}

section.miniBag, section.imageMatters{
    color:#fff;
    flex-direction:column;
}

section.miniBag{
    background-color:#CB187C;
}

section.imageMatters{
    background-color:#00247D;
    color:#fff;
}

section.savings{
    margin-top:100px;
}

 section.nationwide{
     margin-top:0;
 }

section.featured{
    padding-bottom:50px;
}

/* End Page title overrides ********/

a.external{
    padding:0;
    width:auto;
    line-height: inherit;
    text-align:inherit;
    font-size:inherit;
    font-weight:inherit;
    border:none;
}

a.external p:hover{
    cursor:pointer;
}

.me a, .contact a, .featured a, .sendoff a{
    align-self:center;
    margin:auto;
    bottom:0;
    top:auto;
}

.me a::selection{
    background-color:#474647;
    color:#fff;
}

.me a, .contact a{
    background-color:#fff;
    color:#474647;
}

.contact a{
    border-color:#474647;
    background-color:#474647;
    color:#fff;
}

.contact a::selection{
    background-color:#fff;
    color:#474647;
}

.featured a::selection{
    background-color:#EA7E0D;
    color:#fff;
}

.me a:hover{
    background-color:rgba(0,0,0,0);
    color:#fff !important;
}

.contact a:hover{
    background-color:#fff;
    color:#474647;
}

.featured a{
    background-color:#474647;
    color:#fff;
    border-color:#474647;
    bottom:-50px;
}

.sendoff a{
    background-color: #EA7E0D;
    color: #fff;
    border-color: #EA7E0D;
}

.sendoff a::selection{
    background-color:#EA7E0D;
    color:#fff;
}

.sendoff a:hover{
    background-color:#fff;
    color:#EA7E0D;
    border-color:#EA7E0D;
}

.featured a:hover{
    background-color:#fff;
    color:#474647;
    border-color:#474647;
}

.savings a, .miniBag a, .nationwide a, .imageMatters a{
    top:auto;
    bottom:-50px;
    color:#fff;
}

.savings a{
    border-color:#00AD46;
    background-color:#00AD46;
}

.savings a:hover{
    border-color:#00AD46;
    background-color:#fff;
    color:#00AD46;
}

.miniBag a{
    border-color:#fff;
    background-color:#fff;
    color:#CB187C;
    position:relative;
}

.miniBag a:hover{
    background-color:#CB187C;
    color:#fff;
}

.nationwide a{
    border-color:#0072CF;
    background-color:#0072CF;
}

.nationwide a:hover{
    border-color:#0072CF;
    background-color:#fff;
    color:#0072CF;
}

.imageMatters a{
    border-color:#fff;
    background-color:#fff;
    color:#00247D;
    position:relative;
}

.imageMatters a:hover{
    border-color:#F2C924;
    background-color:#F2C924;
    color:#fff;
}

.savings a::selection, .nationwide a::selection{
    background-color:#EA7E0D;
    color:#fff;
}

.miniBag a::selection{
    background-color:#235789;
    color:#fff;
}

.imageMatters a::selection{
    background-color:#1F76DB;
    color:#fff;
}

.me a:hover{
    color:#474647;
}

.me a:hover span{
    opacity:0;
}

a.toExternal{
    border:none;
}

.projectContainer p:last-of-type{
    margin-bottom:50px;
}

/* End Page Link overrides ******************/

section, section > div, .pagination, .pagination > div, section.whatProject, .footer section,
.projects > div, .close, .projectInfo, .projectInfo div, .mobileSection, .mobileContent,
.channels{
    display: -webkit-box;      /* OLD - iOS 6-, Safari 3.1-6 */
    display: -moz-box;         /* OLD - Firefox 19- (buggy but mostly works) */
    display: -ms-flexbox;      /* TWEENER - IE 10 */
    display: -webkit-flex;     /* NEW - Chrome */

    display:flex;
    flex-direction:column;
    justify-content: space-between;
    align-items: center;

    position:relative;

    box-sizing:border-box;
}

.mainContainer > section{
    width:100%;
    min-width:100vw;
    max-width:100vw;
    height:auto;
    position:relative;
}

.mainContainer > section.me{
    min-height:90vh;
}

.mainContainer > section.sendoff{
    min-height:100vh;
}

.me{
    color:#fff;
    background-size:cover;
    background-position:center;

    background-color:#474647;
    background-image:url('https://jwisneski.github.io/portfolio/images/MapSliceDarkGreyOptimized.jpg');
    /*background-image:url('../images/MapSliceDarkGreyOptimized.jpg');*/
}

.mainContainer{
    width:100%;
    width:100vw;
    min-height:calc(500%+160px);
    overflow:hidden;
}

/* End page section overrides **************/

.content{
    width:90%;
    margin-top:50px;
    margin-bottom:50px;
}

.projects{
    width:100%;
    bottom:70px;
    flex-direction:column;
    margin-top:40px;
}

.projects > div{
    width:90%;
    height:15%;
    height:calc((100vh - (16vw + 150px))/3);
    flex-direction:row;
    align-self:flex-start;
    align-items:center;
    justify-content: flex-start;
    padding-top:30px;
}

.projects p{
    padding-top:15px;
    font-weight:400;
}

.projects div:hover, .projects p:hover{
    cursor:pointer;
}

.projects .guitar, .projects .furniture, .guitar p, .furniture p{
    cursor:default !important;
}

.projects > div > div, .projects > div > svg{
    background-size:contain;
    background-position:center;
    background-repeat:no-repeat;
    width:40%;
    margin-right:20px;
    height:70%;
    overflow:visible;
}

.projects svg{
    width:70%;
    height:70%;
}

.projectHovered{
    background-color:#fff;
    color:#EA7E0D;
}

.projectHovered svg *{
    fill:#EA7E0D;
}

.projectHovered svg .noHover{
    fill:#fff;
}

.projectHovered svg .noHoverPath{
    stroke:#EA7E0D;
    fill:none;
}

.projectHovered svg .whiteHoverPath{
    stroke:#fff;
    fill:none;
}

.projectHovered.nounProject{
    background-color:#000;
    color:#E7ECEF;
}

.projectHovered.nounProject circle{
    fill:#E7ECEF;
}

.projectHovered.nounProject circle.shell{
    stroke:#E7ECEF;
    fill:none;
}

.projectContent{
    width:100%;
    height:75%;
}

.projectContent.miniBag{
    height:75%;
}

.mobileProject{
    width:100%;
    height:100%;

    display:none;

    margin-left:5%;
    max-height:510px;
    margin-top:50px;
}

/* Needs to be changed for small screens*/
.savingsProject .mobileProject, .nationwideAppProject .mobileProject{
    margin-left:0;
    max-height:none;
    min-width:340px;
    min-height:708px;
}

.desktopProject{
    width:100%;
    height:auto;
    position:relative;

    display:none;
}

.miniBag .desktopProject, .miniBagProject .desktopProject{
    background-image:url('https://jwisneski.github.io/portfolio/images/BatmanVSuperman.jpg');
    /*background-image:url('../images/BatmanVSuperman.jpg');*/
    background-size:cover;
    background-position:top center;

    height:80%;
    height:80vh;

    border-top:2px solid #474647;
}

.imageMatters .desktopProject, .imageMattersProject .desktopProject{
    background-image:url('https://jwisneski.github.io/portfolio/images/imHomeC.jpg');
    /* background-image:url('../images/imHomeC.jpg'); */
    background-size:cover;
    background-position:top center;

    height:70%;
    height:70vh;

    border-top:2px solid #474647;
}

.nationwide .mobileProject, .nationwideAppProject .mobileProject{
    background-color:#efefef;
}

.mobileProject > .screen{
    width:100%;
    height:60%;
    background-repeat:no-repeat;
    background-size:cover;
    background-position:top center;
}

.nationwideScreen{
    background-image:url('https://jwisneski.github.io/portfolio/images/NWIDCard.jpg');
    /*background-image:url('../images/NWIDCard.jpg');*/
}

.nationwideAppProject .nationwideScreen{
    background-size:contain;
}

.savingsLauncherScreen{
    background-image:url('https://jwisneski.github.io/portfolio/images/savingsLauncherOn.jpg');
    /*background-image:url('../images/savingsLauncherOn.jpg');*/
}

.savingsProject .savingsLauncherScreen{
    background-size:contain;
}

.projectInfo{
    position:relative;
    width:100%;
    flex-direction:row;
    align-self:flex-start;
    margin-top:20px;
    margin-bottom:50px;
    flex-wrap:wrap;
    justify-content:flex-start;
}

.titleContainer{
    margin-left:20px;
    margin-right:20px;
}

.timeframe, .role{
    min-width:auto;
    margin-right:50px;
}

.projectInfo .title{
    font-weight:200;
    font-size:18px;
    line-height:20px;
}

.projectInfo .main{
    line-height:5px;
    font-weight:400;
    font-size:40px;
    font-size:8vw;
    line-height:50px;
    line-height:10vw;
}

.projectInfo, .secondary{
    font-weight:200;
}

.secondary span{ /*denotes an "and"*/
    font-weight:400;
}

.channels{
    margin:0;
    margin-top:30px;
    margin-bottom:20px;
    flex-direction:row;
    align-items: center;
    justify-content: center;
}

.channels.light{
    fill:#fff;
}

.channels .mobileIcon svg, .channels .tabletIcon svg{
    height:80px;
    width:80px;
    margin-right:-10px;
}

.channels .mobileIcon svg{
    margin-right:-20px;
}

.channels .laptopIcon svg{
    height:80px;
}

/* End how content overrides **************/

.pagination{
    position:absolute;
    top:30%;
    right:10px;
}

.pagination > div{
    cursor:pointer;
    height:30px;
    width:120px;

    flex-direction:row;
    justify-content:flex-end;
}

.why .pagination p{
    color:#000;
}

.pagination > div:first-of-type .dot{
    color:#474647;
    border-color:#474647;
}

.pagination > div:nth-of-type(2) .dot{
    color:#1F76DB;
    border-color:#1F76DB;
}

.pagination > div:nth-of-type(3) .dot{
    color:#FA7921;
    border-color:#FA7921;
}

.pagination > div:nth-of-type(4) .dot{
    color:#235789;
    border-color:#235789;
}

.pagination > div:nth-of-type(5) .dot{
    color:#E7ECEF;
    border-color:#E7ECEF;
}

.pagination .selected{
    opacity:0;
}

.pagination .selected:hover{
    cursor:default;
}

.pagination p{
    display:inline-block;
    opacity:0;
    cursor:pointer;
    line-height:8px;
    font-weight:400;
    font-size:25px;
    color:#fff;
    margin-top:12px;
}

.pagination p.hovered{
    opacity:1;
}

.dot{
    display:inline-block;
    min-width:8px;
    min-height:8px;

    margin-top:0;
    margin-left:10px;
    margin-right:0;

    border-radius:100%;
    border:1px solid;
}

.whyDot{
    border:1px solid #000;
}

.hoveredPage{
    color:#fff;
}

.hoveredPage .dot{
    background-color:#fff;
    color:#fff;
    border:1px solid;
    width:30px;
    height:30px;
    margin-top:0px;
    margin-left:15px;
    margin-right:5px;
}

.hoveredPage .dot:first-of-type{
    border-color:#474647;
}

.hoveredPage .dot:nth-of-type(2){
    border-color:#1F76DB;
}

.hoveredPage .dot:nth-of-type(3){
    border-color:#FA7921;
}

.hoveredPage .dot:nth-of-type(4){
    border-color:#235789;
}

.hoveredPage .dot:nth-of-type(5){
    border-color:#E7ECEF;
}

.why .hoveredPage{
    color:#474647;
}

.why .hoveredPage .dot{
    background-color:#474647;
}

/* End Pagination ************************/

.contact p{
    text-align:center;
    margin-bottom:-30px;
    padding:20px;
    min-width:200px;
}

.contactBtn:hover, .contact p:hover{
    cursor:pointer;
}

.contact, .projectContainer{
    background-color:#fff;
    color:#000;
    position:fixed;
    top:-120%;

    width:100%;
    height:100%;
    border-bottom:1px solid #474647;
}

.projectContainer{
    top:120%;
    height:calc(100% + 50px);
    height:auto;
    overflow:scroll;
    -webkit-overflow-scrolling: touch;

    border-top:1px solid #474647;
    border-bottom:0px;
}

.contactShown, .projectContainerShown{
    top:0;
    bottom:0;
}

.overlayContainer{
    position:fixed;
    top:120%;
    width:100%;
    height:100%;
}

.emailPlaceholder{
    position:fixed;
    top:-150%;
}

/* End Contact Information ********************/

.footer{
    color:#000;

    position:absolute;
    bottom:20px;
    align-items: center;
    align-self:center;
    justify-content: flex-end;

    font-weight:500;
}

.footer > p{
    margin-bottom:0;
    line-height:20px;
    line-height:6vw;
    font-size:16px;
    font-size:4vw;
}

.footer > p > span{
    font-weight:200;
}

/* End Footer *********************************/

.downArrow, .upArrow{
    width:50px;
    height:50px;
    padding:10px;
    top:50px;
    right:50px;
}

.downArrow:hover, .downArrow.hovered{
    padding-top:20px;
    margin-bottom:-10px;
    cursor:pointer;
}

.upArrow{
    -ms-transform: rotate(180deg);
    -ms-transform-origin: center;
    -webkit-transform: rotate(180deg); /* Chrome, Safari, Opera */
    -webkit-transform-origin: center; /* Chrome, Safari, Opera */
    transform: rotate(180deg);
    transform-origin:  center;
    display:none;
    position:fixed;
}

.upArrow:hover, .upArrowHovered{
    padding-top:20px;
    margin-bottom:-10px;
    cursor:pointer;
}

.upArrowShown{
    display:block;
}

.downArrow .light{
    fill:#fff;
}

.close{
    position:absolute;
    top:20px;
    margin:0 auto;

    flex-direction:row;
    align-items: center;
    justify-content: space-around;
    align-self:center;
    order:0;

    width:250px;
    height:50px;
    padding-left:50px;
    padding-right:50px;
    padding-top:30px;
    padding-bottom:30px;
}

.close svg{
    width:30px;
    height:30px;
}

.close h4{
    line-height:50px;
}

.close:hover{
    background-color:#FA7921;
    fill:#fff;
    color:#fff;
    cursor:pointer;
}

.whatIdo{
    justify-content: space-around;
    background-color:#fff;
    padding-top:100px;
}

.whatIdo div{
    width:90%;
    height:90vw;
    background-color:#fff;

    background-size:contain;
    background-position:center;

    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

/*remove this when the photos are ready*/
.leadWork, .indyWork{
    height:30px !important;
    margin-bottom:0 !important;
    background:transparent;
}

.indyWork, .portrait{
    margin-bottom:50px;
}

.leadWork{
    order:2;
    /* background-image:url('https://jwisneski.github.io/portfolio/images/MapSliceDarkGreyOptimized.jpg'); */
    /* background-image:url('../images/process.png'); */
    background-repeat:no-repeat;
    vertical-align: middle;
}

.portrait{
    border-radius:100%;
    background-image:url('https://jwisneski.github.io/portfolio/images/portrait.jpg');
    /* background-image:url('../images/portrait.jpg'); */

    order:0;
}

.indyWork{
    order:1;
    /* background-image:url('https://jwisneski.github.io/portfolio/images/MapSliceDarkGreyOptimized.jpg'); */
    /*background-image:url('../images/process.png');*/
    background-repeat:no-repeat;
    vertical-align: middle;
}

/* unremove this when photos are ready*/
/* .leadWork::after{
    content:'and a UX Lead at Nationwide';
    position:relative;
    top:100%;
} */

/* .indyWork::after{
    content:"I'm an Experience Designer";
    position:relative;
    top:100%;
} */

.statement{
    flex-direction:row;
    align-items: center;
    justify-content: center;
    margin-bottom:100px;
}

.statement .content{
    align-self:center !important;
}

.hobbies{
    display:none;
}

.mobileSection{
    flex-direction:row;
    align-items: flex-start;
    width:100%;
    height:auto;
    min-height:100%;
}

.mobileSection.centered{
    justify-content: center;
}

.mobileContent{
    margin-top:100px;
    justify-content: flex-start;
}

.mobileContent .role{
    margin-top:20px;
    flex-basis:50%;
}

/*.fadeUp{
    margin-top:20px;
    opacity:0;
}*/

/* End downArrow *********************************/

@media(max-height:560px) and (max-width:400px){
    /*extra small short screen iPhone 4 mostly*/
    /* XSS */
    .me a, .contact a, .sendoff a{
        bottom:0;
        top:auto;
    }

    .featured a{
        bottom:-50px;
    }

    .me h1, .me h2 {
        margin:0;
        padding-top:0;
    }
}

@media(min-width: 370px){
    /* S */
    /* Small Screen size ***********************************************************/
    .me h1, .me h2{
        margin-left:0;
    }

    .featured a{
        bottom:-50px;
    }

    .blurEffect{
        filter:blur(15px);
    }

    .whiteOverlay{
        align-items: center;
        justify-content: center;

        width:100%;
        height:100%;

        position:fixed;
        top:0;
        left:0;

        background-color:rgba(225, 225, 225, .2);
    }

    .footer > p{
        line-height:20px;
        line-height:5vw;
        font-size:16px;
        font-size:3vw;
    }

    .channels .mobileIcon svg, .channels .tabletIcon svg{
        height:100px;
        width:100px;
        margin-right:0;
    }

    .channels .laptopIcon svg{
        height:100px;
    }
}

@media(min-width: 660px){
    /* Medium Screen size ***********************************************************/
    /* M */
    html{
        font-size:18px;
        font-size:2.5vw;
    }

    p{
        line-height:3vw;
    }

    .content{
        align-self:flex-start;
        width:100%;
        margin-top:50px;
        margin-bottom:100px;
    }

    a{
        width:300px;
        align-self:inherit;
        position:inherit;
        top:auto;
        line-height:40px;
        font-size:25px;
    }

    .me h1, .me h2{
        margin-left:0;
    }

    h2{
        font-size:30px;
        font-size:3vw;
    }

    h2 span{
        display:inline;
        font-size:20px;
        font-size:2vw;
    }

    h3{
        font-size:40px;
        font-size:4vw;
        font-weight:400;
        margin-bottom:30px;
    }

    .pageTitle{
        margin-left:20px;
        margin-right:20px;
    }

    .projectContainer .pageTitle{
        margin-top:50px;
    }

    .mobileProject{
        width:350px;
        background-color:#454545;
        border:2px solid #000;
        border-bottom:0;
        border-radius:30px 30px 0 0;
        order:0;

        display:block;
    }

    .savingsProject .mobileProject, .nationwideAppProject .mobileProject{
        border-bottom:2px solid;
        border-radius:30px;
        align-self:flex-start;
        min-width:340px;
        min-height:708px;
    }

    .mobileProject > .screen{
        background-color:white;
        width:95%;
        height:calc(100% - 70px);
        margin-left:calc(2.5% - 2px);
        margin-top:70px;
        border:2px solid #000;
    }

    .savingsProject .mobileProject > .screen, .nationwideAppProject .mobileProject >.screen{
        height:calc(100% - 140px);
    }

    .desktopProject{
        height:100%;
        display:block;
    }

    section.savings, section.miniBag, section.nationwide, section.imageMatters{
        padding-bottom:0;
    }

    section.miniBag{
        background-color:#fff;
        color:#000;
    }

    section.nationwide{
        padding-top:250px;
    }

    section.imageMatters{
        background-color:#fff;
        color:#000;
    }

    .me a, .contact a, .featured a, .sendoff a{
        position:inherit;
        align-self:flex-end;
        margin:0;
    }

    .savings a, .nationwide a{
        align-self:flex-start;
    }

    .savings a{
        bottom:-20;
    }

    .miniBag a{
        border-color:#CB187C;
        background-color:#CB187C;
        color:#fff;
        margin-top:-30px;
    }

    .miniBag a:hover{
        color:#CB187C;
        background-color:#fff;
    }

    .imageMatters a{
        border-color:#C3AC0F;
        background-color:#C3AC0F;
        color:#fff;
        margin-top:-30px;
    }

    .imageMatters a:hover{
        border-color:#C3AC0F;
        background-color:#fff;
        color:#C3AC0F;
    }

    .featured a{
        bottom:0;
    }

    .contact p{
        margin-bottom:-20px;
    }

    .projects{
        top:20px;
        margin-top:0;
        flex-direction:row;
        justify-content: center;
    }

    .projects > div{
        width:33%;
        height:40%;
        flex-direction:column;
        text-align:center;
    }

    .projects p{
        margin-top:inherit;
        min-width:100%;
    }

    .footer{
        bottom:25px;
        left:20px;
        align-items: flex-start;
        text-align: left;
    }

    .footer > p{
        font-size:16px;
        font-size:2vw;
        line-height:20px;
        line-height:3vw;
    }

    .projectContent{
        flex-direction:row;
        justify-content: space-around;
    }

    .whatIdo{
        flex-direction:row;
    }

    .statement{
        margin-bottom:0;
    }

    .whatIdo div{
        width:30%;
        height:30vw;
        margin:0 !important;
    }

    .leadWork{
        order:2;
        height:50px !important;
    }

    .portrait{
        order:1;
    }

    .indyWork{
        order:0;
    }

    .savings .pageTitle, .nationwide .pageTitle{
        width:60%;
    }

    .miniBag .pageTitle, .imageMatters .pageTitle{
        flex-direction:row;
        align-items: center;
        justify-content: center;
        width:100%;
        margin-bottom:30px;
        margin-top:50px;
    }

    .projectInfo{
        margin-bottom: -20px;
    }

    .role{
        margin-right:50px;
    }

    .timeframe{
        margin-right:50px;
    }

    .projectInfo .main{
        font-size:30px;
        font-size:3vw;
        line-height:30px;
        line-height:4vw;
    }

    .channels{
        margin:0;
        align-self:flex-start;
        flex-direction:row;
        justify-content: flex-start;
    }

    .channels .laptopIcon{
        padding:10px;
    }

    .channels.light{
        fill:#000;
    }
}

@media(min-width: 1000px){
    /* Large Screen size ***********************************************************/
    /* L */

    html{
        font-size:20px;
        font-size:1.8vw;
        font-weight:300;
    }

    h2 span{
        font-size:20px;
        font-size:1.75vw;
    }

    p{
        min-width:800px;
        min-width:50vw;
        line-height:30px;
        line-height:2.7vw;
    }

    .pagination{
        right:30px;
    }

    .pagination p{
        min-width:0;
    }

    .contact p{
        min-width:200px;
    }

    .footer{
        bottom:20px;
        left:70px;
    }

    .footer > p{
        line-height:20px;
        line-height:1.7vw;
        font-size:16px;
        font-size:1.2vw;
    }

    .projectContent p{
        /*min-width:600px;
        min-width:40vw;*/
    }

    .mobileProject{
        margin-right:50px;
        width: 500px;
        border: 4px solid #000;
        border-bottom:0;
        border-radius: 50px 50px 0 0;
        max-height: 700px;
    }

    .mobileProject .screen{
        margin-top:100px;
    }

    .projectInfo{
        margin-bottom: 0px;
    }

    .projectInfo .main{
    }

    .timeframe, .role{
        margin-right:80px;
    }

    .projectInfo .title{
        line-height:35px;
    }
}

@media(min-width:1200px){
    .miniBag .desktopProject{
        height:50vh;
    }

    .close{
        /*top:50px;*/
    }

    .timeframe{
        margin-right:120px;
    }

    .projectInfo .main{
        line-height:40px;
        line-height:3vw;
        font-size: 30px;
        font-size: 2.5vw;
    }
}

@media(min-width:1620px){
    .me{
        max-height:90vh;
    }

    a{
        padding:10px;
        width:400px;
        line-height:60px;
        font-size:35px;
    }

    .projectInfo{
        margin-bottom: 0px;
    }

    .projectInfo .main{
        line-height:50px;
        line-height:3.5vw;
        font-size: 40px;
        font-size: 3vw;
    }

    .projectInfo .title{
        line-height:40px;
        font-size:30px;
    }

    .timeframe{
        margin-right:250px;
    }
}

@media(min-width: 2400px){
    /* Extra Large Screen size ***************************************************/
    /* XL */
    html{
        font-size:45px;
        font-size:3vw;
    }

    h2{
        font-size:50px;
        font-size:4vw;
    }

    h2 span{
        font-size:30px;
        font-size:2.5vw;
    }

    h2.openToJobs{
        font-size:3vw;
    }

    p{
        min-width:1000px;
        min-width:60vw;
        line-height:60px;
        line-height:2.7vw;

        font-size:40px;
        font-size:2vw;
    }

    .pagination{
        right:50px;
    }

    .pagination p{
        min-width:0;
    }

    a{
        padding:10px;
        width:500px;
        line-height:100px;
        font-size:40px;
    }

    .dot{
        min-width:12px;
        min-height:12px;
    }

    .hoveredPage .dot{
        width:50px;
        height:50px;
    }

    .downArrow{
        width:80px;
        height:80px;
    }

    .downArrow:hover, .downArrow.hovered{
        padding-top:40px;
    }

    .footer > p{
        font-size:18px;
        font-size:1.5vw;
        line-height:2vw;
    }

    .projectInfo .title{
        font-size:40px;
    }

    .mobileProject {
        width: 700px;
        border: 4px solid #000;
        border-bottom:0;
        border-radius: 50px 50px 0 0;
        max-height: 1000px;
    }

    .mobileProject .screen{
        margin-top:100px;
    }
}
