/* Extra Small Screen size/base styles ***********************************/
/* XS */
.overflowHidden{
    position:fixed;
}

*{
    /* reset all the margins and padding */
    margin:0;
    padding:0;

    /* quick functional transition for hovers, etc. */
    -ms-transition:all .2s ease;
    -moz-transition:all .2s ease;
    -webkit-transition:all .2s ease;
    -o-transition:all .2s ease;
    transition:all .2s ease;
}

.contact, .projectContainer{
    /* slower functional transition for larger moving elements */
    -ms-transition:all .4s ease;
    -moz-transition:all .4s ease;
    -webkit-transition:all .4s ease;
    -o-transition:all .4s ease;
    transition:all .4s ease;
}

html{
    font-weight:200; /*thin*/
    font-family: -apple-system, 'Helvetica Neue', Helvetica, Arial, sans-serif;

    /* min 16px for body, 14px for flows
    line-heights are rounded up to 5px intervals
    for easier math*/
    font-size:16px;
    font-size:5vw;
    color:#000;
}

.hideOverflow{
    height:100%;
    overflow:hidden;
}

h1{
    font-size:80px;
    font-size:8vw;
    font-weight:200;
    margin-top:20px;
    margin-bottom:0;
    align-self:flex-start;
    cursor:default;
}

h1.bold{
    font-size:100px;
    font-size:10vw;
    font-weight:500;
}

input.email{
    font-size:100px;
    font-size:10vw;
    font-weight:500;
    margin-top:20px;
    margin-bottom:0;
    align-self:flex-start;
    cursor:default;
    width:81vw;
    border: none;
    border-color: transparent;
}

input.email::selection {
    color:#fff;
    background-color:#1F76DB;
}

h2{ /* need a smaller screen version to scale (probably)*/
    font-size:20px;
    font-size:6vw;
    font-weight:400;
    margin-top:0;
    margin-bottom:20px;
    align-self:flex-start;

    cursor:default;
}

h2.bold{
    font-weight:300;
}

h2 span{
    display:block;
    font-size:16px;
    font-size:4vw;
    font-weight:200;
}

h3{
    font-size:18px;
    font-size:4vw;
    font-weight:400;
}

p{
    /* adds a readable width and some spacing below paragraphs */
    max-width:600px;
    margin-bottom:20px;
    cursor:default;
    line-height: 25px;
    line-height:7vw;
}

label{
    margin-top:15px;
}

input{
    font-size:16px;
    line-height:30px;

    width:200px;

    padding:5px;
}

a{
    /* removes the 1990's affordances */
    text-decoration: inherit;
    color:inherit;

    /* adds the 2010's affordances */
    padding:10px;
    width:250px;

    /* used to make links expand from the center */
    line-height:30px;
    vertical-align: middle;
    text-align: center;

    font-size:20px;
    font-weight:300;

    border:2px solid #fff;
}

a:hover{
    background-color:#fff;
}

/* End global (built in) tags****************/

.me h1, .me h2{
    margin-left:12%;
}

.contact h2{
    opacity:1;
}

.contact h2.hideCopy{
    opacity:0;
}

.pageTitle{
    flex-direction:column;
    justify-content: flex-start;
    align-items: center;
    margin-left:10px;
    margin-right:10px;
}

.savings .pageTitle, .nationwide .pageTitle{
    width:60%;
}

.miniBag .pageTitle, .imageMatters .pageTitle{
    width:60%;
    align-self:center;
}

.me .pageTitle, .contact .pageTitle{
    margin-top:100px;
}

section.savings, section.nationwide, section.miniBag, section.imageMatters{
    width:100%;
    flex-direction:row;
    justify-content: center;
    align-items: flex-start;
}

section.miniBag, section.imageMatters{
    color:#fff;
    flex-direction:column;
}

section.miniBag{
    background-color:#235789;
}

section.imageMatters{
    background-color:#1F76DB;
}

section.savings, section.nationwide{
    margin-top:100px;
}

/* End Page title overrides ********/

a.external{
    padding:0;
    width:auto;
    line-height: inherit;
    text-align:inherit;
    font-size:inherit;
    font-weight:inherit;
    border:none;
}

a.external p:hover{
    cursor:pointer;
}

.me a, .contact a, .featured a, .sendoff a{
    align-self:center;
    margin:auto;
    margin-top:150px;
}

.me a, .contact a{
    background-color:#fff;
    color:#474647;
}

.contact a{
    border-color:#474647;
    background-color:#474647;
    color:#fff;
}

.me a:hover{
    background-color:rgba(0,0,0,0);
    color:#fff !important;
}

.contact a:hover{
    background-color:#fff;
    color:#474647;
}

.featured a{
    background-color:#fff;
    color:#474647;
    border-color:#474647;
}

.sendoff a{
    background-color: #EA7E0D;
    color: #fff;
    border-color: #EA7E0D;
}

.sendoff a:hover{
    background-color:#fff;
    color:#EA7E0D;
    border-color:#EA7E0D;
}

.featured a:hover{
    background-color:#474647;
    color:#fff;
    border-color:#474647;
}

.savings a, .nationwide a{
    background-color:#EA7E0D;
    color:#fff;
    border-color:#EA7E0D;
    margin-bottom:20px;
}

.savings a:hover, .nationwide a:hover{
    background-color:#fff;
    color:#EA7E0D;
    border-color:#EA7E0D;
}

.miniBag a, .imageMatters a{
    background-color:#fff;
    border-color:#fff;
}

.miniBag a{
    color:#235789;
}

.imageMatters a{
    color:#1F76DB;
}

.miniBag a:hover, .imageMatters a:hover{
    color:#fff;
}

.miniBag a:hover{
    background-color:#235789;
}

.imageMatters a:hover{
    background-color:#1F76DB;
}

.me a:hover{
    color:#474647;
}

.me a:hover span{
    opacity:0;
}

a.toExternal{
    border:none;
}

.projectContainer p:last-of-type{
    margin-bottom:50px;
}

/* End Page Link overrides ******************/

section, section > div, .pagination, .pagination > div, section.whatProject, .footer section,
.projects > div, .close, .projectInfo, .projectInfo div{
    display: -webkit-box;      /* OLD - iOS 6-, Safari 3.1-6 */
    display: -moz-box;         /* OLD - Firefox 19- (buggy but mostly works) */
    display: -ms-flexbox;      /* TWEENER - IE 10 */
    display: -webkit-flex;     /* NEW - Chrome */

    display:flex;
    flex-direction:column;
    justify-content: space-between;
    align-items: center;

    position:relative;

    box-sizing:border-box;
}

.mainContainer > section{
    width:100%;
    min-width:100vw;
    max-width:100vw;
    height:auto;
    position:relative;
}

.mainContainer > section.me{
    min-height:90vh;
}

.mainContainer > section.sendoff{
    min-height:100vh;
}

.me{
    color:#fff;
    background-size:cover;
    background-position:center;

    background-color:#474647;
    background-image:url('https://jwisneski.github.io/portfolio/images/MapSliceDarkGreyOptimized.jpg');
    /*background-image:url('../images/MapSliceDarkGreyOptimized.jpg');*/
}

.mainContainer{
    width:100%;
    width:100vw;
    min-height:calc(500%+160px);
    overflow:hidden;
}

/* End page section overrides **************/

.content{
    align-self:flex-start;
    width:90%;
    margin-top:50px;
    margin-bottom:50px;
}

.projects{
    width:100%;
    bottom:70px;
    flex-direction:column;
    margin-top:40px;
}

.projects > div{
    width:90%;
    height:15%;
    height:calc((100vh - (16vw + 150px))/3);
    flex-direction:row;
    align-self:flex-start;
    align-items:center;
    justify-content: flex-start;
    padding-top:30px;
}

.projects p{
    padding-top:15px;
    font-weight:400;
}

.projects div:hover, .projects p:hover{
    cursor:pointer;
}

.projects .guitar, .projects .furniture, .guitar p, .furniture p{
    cursor:default !important;
}

.projects > div > div, .projects > div > svg{
    background-size:contain;
    background-position:center;
    background-repeat:no-repeat;
    width:40%;
    margin-right:20px;
    height:70%;
    overflow:visible;
}

.projects svg{
    width:70%;
    height:70%;
}

.projectHovered{
    background-color:#fff;
    color:#EA7E0D;
}

.projectHovered svg *{
    fill:#EA7E0D;
}

.projectHovered svg .noHover{
    fill:#fff;
}

.projectHovered svg .noHoverPath{
    stroke:#EA7E0D;
    fill:none;
}

.projectHovered svg .whiteHoverPath{
    stroke:#fff;
    fill:none;
}

.projectHovered.nounProject{
    background-color:#000;
    color:#E7ECEF;
}

.projectHovered.nounProject circle{
    fill:#E7ECEF;
}

.projectHovered.nounProject circle.shell{
    stroke:#E7ECEF;
    fill:none;
}

.projectContent{
    width:100%;
    height:75%;
}

.projectContent.miniBag{
    height:75%;
}

.mobileProject{
    width:100%;
    height:100%;

    display:none;

    margin-left:5%;
    max-height:500px;
    margin-top:50px;
}

.desktopProject{
    width:100%;
    height:auto;

    display:none;
}

.miniBag .desktopProject{
    background-image:url('https://jwisneski.github.io/portfolio/images/BatmanVSuperman.jpg');
    /*background-image:url('../images/BatmanVSuperman.jpg');*/
    background-size:cover;
    background-position:top center;

    height:80%;
    height:80vh;
}

.imageMatters .desktopProject{
    background-image:url('https://jwisneski.github.io/portfolio/images/imHomeC.jpg');
    /* background-image:url('../images/imHomeC.jpg'); */
    background-size:cover;
    background-position:top center;

    height:70%;
    height:70vh;
}

.nationwide .mobileProject{
    background-color:#efefef
}

.mobileProject > .screen{
    width:100%;
    height:100%;
}

.nationwideScreen{
    background-image:url('https://jwisneski.github.io/portfolio/images/NWIDCard.jpg');
    /*background-image:url('../images/NWIDCard.jpg');*/
    background-size:cover;
    background-position:top center;
}

.savingsLauncherScreen{
    background-image:url('https://jwisneski.github.io/portfolio/images/savingsLauncherOn.jpg');
    /*background-image:url('../images/savingsLauncherOn.jpg');*/
    background-size:cover;
    background-position:top center;
}

.projectInfo{
    position:relative;
    width:100%;
    flex-direction:row;
    align-self:flex-start;
    margin-bottom:50px;
    flex-wrap:wrap;
}
/*
.miniBag .projectInfo{
    width:50%;
    align-self:center;
} */

.timeframe, .role{
    min-width:auto;
    margin-right:50px;
}

.projectInfo .title{
    font-weight:400;
}

.projectInfo .main{
    font-weight:200;
    font-size:50px;
    font-size:5vh;
    line-height:6vh;
}

.projectInfo, .secondary{

}

/* End how content overrides **************/

.pagination{
    position:absolute;
    top:30%;
    right:10px;
}

.pagination > div{
    cursor:pointer;
    height:30px;
    width:120px;

    flex-direction:row;
    justify-content:flex-end;
}

.why .pagination p{
    color:#000;
}

.pagination > div:first-of-type .dot{
    color:#474647;
    border-color:#474647;
}

.pagination > div:nth-of-type(2) .dot{
    color:#1F76DB;
    border-color:#1F76DB;
}

.pagination > div:nth-of-type(3) .dot{
    color:#FA7921;
    border-color:#FA7921;
}

.pagination > div:nth-of-type(4) .dot{
    color:#235789;
    border-color:#235789;
}

.pagination > div:nth-of-type(5) .dot{
    color:#E7ECEF;
    border-color:#E7ECEF;
}

.pagination .selected{
    opacity:0;
}

.pagination .selected:hover{
    cursor:default;
}

.pagination p{
    display:inline-block;
    opacity:0;
    cursor:pointer;
    line-height:8px;
    font-weight:400;
    font-size:25px;
    color:#fff;
    margin-top:12px;
}

.pagination p.hovered{
    opacity:1;
}

.dot{
    display:inline-block;
    min-width:8px;
    min-height:8px;

    margin-top:0;
    margin-left:10px;
    margin-right:0;

    border-radius:100%;
    border:1px solid;
}

.whyDot{
    border:1px solid #000;
}

.hoveredPage{
    color:#fff;
}

.hoveredPage .dot{
    background-color:#fff;
    color:#fff;
    border:1px solid;
    width:30px;
    height:30px;
    margin-top:0px;
    margin-left:15px;
    margin-right:5px;
}

.hoveredPage .dot:first-of-type{
    border-color:#474647;
}

.hoveredPage .dot:nth-of-type(2){
    border-color:#1F76DB;
}

.hoveredPage .dot:nth-of-type(3){
    border-color:#FA7921;
}

.hoveredPage .dot:nth-of-type(4){
    border-color:#235789;
}

.hoveredPage .dot:nth-of-type(5){
    border-color:#E7ECEF;
}

.why .hoveredPage{
    color:#474647;
}

.why .hoveredPage .dot{
    background-color:#474647;
}

/* End Pagination ************************/

.contact p{
    text-align:center;
    margin-bottom:-30px;
    padding:20px;
    min-width:200px;
}

.contactBtn:hover, .contact p:hover{
    cursor:pointer;
}

.contact, .projectContainer{
    background-color:#fff;
    color:#000;
    position:fixed;
    top:-100%;

    width:100%;
    height:100%;
}

.projectContainer{
    top:100%;
    overflow-y:hidden;
    -webkit-overflow-scrolling: touch;
}

.contactShown, .projectContainerShown{
    top:0;
}

.overlayContainer{
    position:fixed;
    top:100%;
    width:100%;
    height:100%;
}

.emailPlaceholder{
    position:fixed;
    top:-150%;
}

/* End Contact Information ********************/

.footer{
    color:#000;

    position:absolute;
    bottom:90px;
    left:25px;
    align-items: flex-start;
    justify-content: flex-start;

    font-weight:400;
}

.footer > p{
    margin-bottom:0;
    line-height:25px;
    line-height:7vw;
    font-size:18px;
    font-size:4.5vw;
}

/* End Footer *********************************/

.downArrow, .upArrow{
    width:50px;
    height:50px;
    padding:10px;
    position:relative;
}

.downArrow:hover, .downArrow.hovered{
    padding-top:20px;
    margin-bottom:-10px;
    cursor:pointer;
}

.upArrow:hover, .upArrowHovered{
    /*-ms-transform: rotate(90deg);
    -ms-transform-origin: center;
    -webkit-transform: rotate(90deg); /* Chrome, Safari, Opera */
    /*-webkit-transform-origin: center; /* Chrome, Safari, Opera */
    /*transform: rotate(90deg);
    transform-origin:  center;*/
    cursor:pointer;
}

.downArrow .light{
    fill:#fff;
}

.close{
    position:absolute;
    top:20px;
    margin:0 auto;

    flex-direction:row;
    align-items: center;
    justify-content: space-around;
    align-self:center;
    order:0;

    width:250px;
    height:50px;
    padding-left:50px;
    padding-right:50px;
    padding-top:30px;
    padding-bottom:30px;
}

.close svg{
    width:30px;
    height:30px;
}

.close h4{
    line-height:50px;
}

.close:hover{
    background-color:#FA7921;
    fill:#fff;
    color:#fff;
    cursor:pointer;
}

.whatIdo{
    justify-content: space-around;
    background-color:#fff;
    padding-top:100px;
    padding-bottom:85px;
}

.whatIdo div{
    width:90%;
    height:90vw;
    background-color:#fff;

    background-size:contain;
    background-position:center;

    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

/*remove this when the photos are ready*/
.leadWork, .indyWork{
    height:50px !important;
    margin-bottom:0 !important;
}

.indyWork, .portrait{
    margin-bottom:50px;
}

.leadWork{
    order:2;
    /* background-image:url('https://jwisneski.github.io/portfolio/images/MapSliceDarkGreyOptimized.jpg'); */
    /* background-image:url('../images/process.png'); */
    background-repeat:no-repeat;
    vertical-align: middle;
}

.portrait{
    border-radius:100%;
    background-image:url('https://jwisneski.github.io/portfolio/images/portrait.jpg');
    /* background-image:url('../images/portrait.jpg'); */

    order:0;
}

.indyWork{
    order:1;
    /* background-image:url('https://jwisneski.github.io/portfolio/images/MapSliceDarkGreyOptimized.jpg'); */
    /*background-image:url('../images/process.png');*/
    background-repeat:no-repeat;
    vertical-align: middle;
}

/* unremove this when photos are ready*/
/* .leadWork::after{
    content:'and a UX Lead at Nationwide';
    position:relative;
    top:100%;
} */

/* .indyWork::after{
    content:"I'm an Experience Designer";
    position:relative;
    top:100%;
} */

.statement{
    flex-direction:row;
    align-items: center;
    justify-content: center;
}

.hobbies{
    display:none;
}

/*.fadeUp{
    margin-top:20px;
    opacity:0;
}*/

/* End downArrow *********************************/

@media(max-height:560px) and (max-width:400px){
    /*extra small short screen iPhone 4 mostly*/
    /* XSS */
    .me a, .contact a, .featured a, .sendoff a{
        margin-top:110px !important;
    }
}

@media(min-width: 370px){
    /* S */
    /* Small Screen size ***********************************************************/
    .me h1, .me h2{
        margin-left:0;
    }

    .me .pageTitle, .contact .pageTitle, .sendoff .PageTitle{
        margin-top:150px;
    }

    .me a, .contact a, .featured a, .sendoff a{
        margin-top:200px;
    }

    .blurEffect{
        filter:blur(15px);
    }

    .whiteOverlay{
        align-items: center;
        justify-content: center;

        width:100%;
        height:100%;

        position:fixed;
        top:0;
        left:0;

        background-color:rgba(225, 225, 225, .2);
    }

    .footer{
        bottom:100px;
    }
}

@media(min-width: 660px){
    /* Medium Screen size ***********************************************************/
    /* M */
    html{
        font-size:18px;
        font-size:2.5vw;
    }

    p{
        line-height:3vw;
    }

    a{
        line-height:40px;
        font-size:25px;
    }

    .me h1, .me h2{
        margin-left:0;
    }

    h2{
        font-size:30px;
        font-size:3vw;
    }

    h2 span{
        display:inline;
        font-size:20px;
        font-size:2vw;
    }

    h2.openToJobs{
        font-weight:300;
        font-size:2vw;
    }

    h3{
        font-size:20px;
        font-size:2vw;
        font-weight:400;
        margin-bottom:30px;
    }

    .pageTitle{
        margin-left:20px;
        margin-right:20px;
    }

    .projectContainer .pageTitle{
        margin-top:50px;
    }

    .mobileProject{
        width:350px;
        background-color:#454545;
        border:2px solid #000;
        border-bottom:0;
        border-radius:30px 30px 0 0;
        order:0;

        display:block;
    }

    .mobileProject > .screen{
        background-color:white;
        width:95%;
        height:90%;
        margin-left:calc(2.5% - 2px);
        margin-top:20%;
        border:2px solid #000;
    }

    .desktopProject{
        height:100%;
        display:block;
    }

    .me a, .contact a, .featured a, .sendoff a{
        position:inherit;
        align-self:flex-end;
        margin:0;
    }

    .who a, .what a, .how a, .why a{
        right:20px;
        bottom:20px;
    }

    .who .resumeBtn{
        bottom:auto;
        display:inline-block;
        left:0;
        position:relative;
        margin-top:20px;
    }

    .content{
        width:100%;
        margin-top:50px;
        margin-bottom:100px;
    }

    .what a.transition{
        position:inherit;
        right:0;
        bottom:200px;
    }

    .what span{
        display:none;
    }

    .pagination{
        top:45%;
        right:20px;
    }

    .pagination > div{
        margin-top:5px;
    }

    .dot{
        min-width:10px;
        min-height:10px;
    }

    .contact p{
        margin-bottom:-20px;
    }

    .projects{
        top:20px;
        margin-top:0;
        flex-direction:row;
        justify-content: center;
    }

    .projects > div{
        width:33%;
        height:40%;
        flex-direction:column;
        text-align:center;
    }

    .projects p{
        margin-top:inherit;
        min-width:100%;
    }

    .footer{
        bottom:25px;
        left:20px;
    }

    .footer > p{
        font-size:18px;
        font-size:2vw;
        line-height:25px;
        line-height:3vw;
    }

    .projectContent{
        flex-direction:row;
        justify-content: space-around;
    }

    .whatIdo{
        flex-direction:row;
    }

    .whatIdo div{
        width:30%;
        height:30vw;
        margin:0 !important;
    }

    .leadWork{
        order:2;
    }

    .portrait{
        order:1;
    }

    .indyWork{
        order:0;
    }

    .miniBag .pageTitle, .imageMatters .pageTitle{
        flex-direction:row;
        align-items: center;
        justify-content: center;
        width:100%;
        margin-bottom:30px;
        margin-top:50px;
    }
}

@media(min-width: 1000px){
    /* Large Screen size ***********************************************************/
    /* L */

    html{
        font-size:20px;
        font-size:1.8vw;
        font-weight:300;
    }

    h2 span{
        font-size:20px;
        font-size:1.75vw;
    }

    p{
        min-width:800px;
        min-width:50vw;
        line-height:30px;
        line-height:2.7vw;
    }

    .pagination{
        right:30px;
    }

    .pagination p{
        min-width:0;
    }

    .contact p{
        min-width:200px;
    }

    .footer{
        bottom:40px;
        left:50px;
    }

    .footer > p{
        font-size:18px;
        font-size:1.5vw;
    }

    .projectContent p{
        /*min-width:600px;
        min-width:40vw;*/
    }

    .mobileProject{
        margin-right:50px;
    }
}

@media(min-width:1200px){
    .miniBag .desktopProject{
        height:50vh;
    }

    .close{
        /*top:50px;*/
    }
}

@media(min-width:1400px){
}

@media(min-width: 2000px){
    /* Extra Large Screen size ***************************************************/
    /* XL */
    html{
        font-size:45px;
        font-size:3vw;
    }

    h2{
        font-size:50px;
        font-size:4vw;
    }

    h2 span{
        font-size:30px;
        font-size:2.5vw;
    }

    h2.openToJobs{
        font-size:3vw;
    }

    p{
        min-width:1000px;
        min-width:60vw;
        line-height:70px;
    }

    .pagination{
        right:50px;
    }

    .pagination p{
        min-width:0;
    }

    a{
        padding:10px;
        width:500px;
        line-height:100px;
        font-size:40px;
    }

    .dot{
        min-width:12px;
        min-height:12px;
    }

    .hoveredPage .dot{
        width:50px;
        height:50px;
    }

    .downArrow{
        width:80px;
        height:80px;
    }

    .downArrow:hover, .downArrow.hovered{
        padding-top:40px;
    }

    .footer > p{
        font-size:18px;
        font-size:1.5vw;
        line-height:2vw;
    }
}

@media(min-height: 920px){
    /* Tall Screen size ***********************************************************/
    /* T */
    .me .pageTitle, .contact .pageTitle{
        margin-top:300px;
    }
}

@media(min-height: 1100px){
    /* Extra Tall Screen size *****************************************************/
    /* ET */
    .me .pageTitle, .contact .pageTitle{
        margin-top:400px;
    }
}
